@model WebApp.ViewModels.HomeIndexViewModel

<section class="section">
    <div class="container bg-light hero-section">
        <!-- Render the CategoryMenu Partial -->
        @await Html.PartialAsync("~/Views/Shared/Partials/CategoryMenu.cshtml")
        <div class="content-wrapper">
            <!-- Section for New Arrivals -->
            <div class="new-arrival-image">
                <h1 class="h2">20% Discount New Arrival Product</h1>
                <p class="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione consectetur fuga iste et porro magni repellendus nesciunt.</p>
                <div class="image-wrapper">
                    @if (Model.NewArrivals != null)
                    {
                        // displays one product's image from the fetched list, add js later for more dynamic rendering, or create "date" functionality in the api, to be able to fetch by most recent added product.
                        var firstProduct = Model.NewArrivals.Data?.First();
                        <img src="@firstProduct?.CoverImageUrl" class="image" />
                        <h1 class="h4 heading">New Arrivals</h1>
                        foreach (var product in Model.NewArrivals.Data!)
                        {
                            <div class="product-item" onclick="openModal(@product.ArticleNumber)">
                                <img src="@product.CoverImageUrl" alt="@product.Name" />
                                <h2>@product.Name</h2>
                                <p>@product.Ingress</p>
                                <p>Price: @product.Price</p>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>


