@using Infrastructure.Dtos
@model List<CartItemDto>


@foreach (var item in Model)
{
    <article class="co-cart-item" data-co-price="@item.Price">
        <div class="image-wrapper">
            <img src="https://picsum.photos/200" alt="" class="image" />
        </div>
        <div class="text-grid">
            <h5 class="h5 co-title">@item.Name</h5>
            <div class="co-delete">
                <i class="fa-regular fa-trash"></i>
            </div>
            <p class="body text co-ingress">@item.Ingress</p>
            <p class="h6 co-price">@(item.Price * item.Quantity)</p>
            <div class="quantity bg-gray">
                <button class="qty-btn co-decrease">-</button>
                <div class="qty-number">
                    <p class="body co-quantity">@item.Quantity</p>
                </div>
                <button class="qty-btn co-increase">+</button>
            </div>
        </div>
        <input type="hidden" name="Products[@item.ArticleNumber].Name" value="@item.Name" />
    </article>
}

